<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Ion Reddit App</h2>
    <p>A simple Ionic app for displaying and fetching subreddits</p>
    <ion-item>
      Version 1.0.0
    </ion-item>
</ion-content>
